* {
    margin: 0px;
    padding: 0px;
}

body {
    position: relative;
    z-index: 1;
}

@keyframes load {
    0% {
        opacity: 0.08;
        filter: blur(5px);
        letter-spacing: 3px;
    }
}

.animate {
    animation: load 1.2s ease-in-out;
    animation-direction: alternate;
    text-shadow: 0 0 1px rgb(4, 110, 117);
}

#vid {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.7;
    z-index: 0;
}

header {
    position: absolute;
    top: 80%;
    right: 30%;
    left: 30%;
    z-index: 1;
    width: 40%;
    text-align: center;
    /* border-style: solid; */
}

h1 {
    font-size: 400%;
    padding-bottom: 3%;
    text-shadow: 1px 1px black;
    font-family: 'Abril Fatface', cursive;
    animation: load 1.2s ease-in-out;
    animation-direction: alternate;
}

#quote {
    /* border: solid; */
    font-family: 'Acme', sans-serif;
    font-size: x-large;
    position: absolute;
    left: 30%;
    right: 30%;
    text-align: center;
    text-shadow: 1px 1px darkblue;
    top: 230%;
    width: 40%;
    z-index: 1;
}

#info {
    border-style: solid;
    border-radius: 10%;
    height: 100px;
    position: relative;
    top: 420px;
    left: 32.5%;
    right: 32.5%;
    opacity: 0.7;
    transition: transform 2s, opacity 2s;
    width: 35%;
    z-index: 4;
}

#info:hover {
    opacity: 1;
    transform: scale(1.1);
    transition: transform 2s, opacity 2s;
}

#newUser {
    /* border-style: solid; */
    position: absolute;
    top: -5%;
    right: 50%;
    transform: translate(50%, 50%);
    width: 60%;
    height: 30px;
    color: rgb(0, 74, 87);
}

#button {
    /* border-style: solid; */
    position: absolute;
    top: 43%;
    right: 50%;
    transform: translate(50%, 50%);
    width: 60%;
    height: 30px;
    font-size: 20px;
    /* font-family: 'Dancing Script', cursive; */
    /* font-weight: bold; */
    font-family: 'Righteous', cursive;
    color: rgb(116, 10, 28);
    transition: background-color 2s, color 2s;
}

#button:hover {
    /* color: rgb(130, 182, 35); */
    background-color: rgb(188, 97, 230);
    transition: background-color 1s, color 1s;
}

.close {
    /* border-style: solid; */
    position: absolute;
    top: 0%;
    bottom: 0%;
    right: 3%;
    font-family: 'Courier New', Courier, monospace;
    color: saddlebrown;
}