<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="css/index.css">
    <link
        href="https://fonts.googleapis.com/css?family=Abril+Fatface|Acme|Amatic+SC|Dancing+Script|Lobster|Modak|Pacifico|Patrick+Hand|Indie+Flower|Righteous|Yellowtail|ZCOOL+XiaoWei&display=swap"
        rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="js/index.js"></script>
</head>

<body>
    <header>
        <h1>NYT Articles</h1>
    </header>
    <div id="quote">

    </div>
    <main>
        <video autoplay muted loop id="vid">
            <source id="test" src="" type="video/mp4">
        </video>
        <form action="/newUser" method="POST" id="info">
            <input type="text" placeholder="user name" name="userName" id="newUser">
            <input type="submit" value="Log In" id="button">
        </form>
    </main>
</body>

</html>